/* font-family: "Merriweather", serif; */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* font-family: "Inter", sans-serif; */
* {
  margin: 0;
  padding: 0;
}
body{
    font-family: "Merriweather", serif;
}

/* ==-=-=-===-=-=-=-= Banner-section==-=-=-==-=-=-=---===-=- */
.banner-container {
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("asserts/Banner\ Image.png");
  background-size: cover;
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 20px;
}
.banner-content{
 color: #fff;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
height: 600px;
 
}
.banner-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;


}
.banner-content p {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
}
/* =-=-=-=-=-End Hero-Section=-=-=-=-=-=- */

/* =++==++==++==++==++offers-section=++==++==++==++==++ */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 125px 260px;

}
.banner-offer {
  font-family: "Inter", sans-serif;
  text-align: center;
}
.banner-offer .title{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 48px;
}
.banner-offer .subtitle {
 font-size:24px ;
 font-weight:600 ;
 color: #FF0000;
 margin-bottom: 16px;
}

.banner-offer .description{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 48px;
}
.year-image{
    width: 100%;
}
