@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* font-family: "Open Sans", sans-serif; */

.body {
  font-family: "Open Sans", sans-serif;
}
.text-primaray {
  color: #fd6e0a;
}
.btn-primaray {
  color: white;
  background-color: #fd6e0a;
  font-weight: bold;
  padding: 18px 36px;
  border-radius: 5px;
  border: none;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  text-align: center;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-top: 30px;
}
.text-center{
    text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 210px;
}
nav .title {
  font-size: 45px;
  font-weight: bold;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
nav ul {
  display: flex;
  align-items: center;
}
header {
  background-image: url("images/developer.png"), url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* =========Manu=============== */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}

.banner-subtitle {
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-title {
  font-size: 85px;
  color: #181818;
  margin-bottom: 20px;
  font-weight: bold;
}
.banner-description {
  margin-bottom: 30px;
  font-size: 18px;
  color: #757575;
}
.hary {
  width: 584px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* =-=-=-=-=- About =-=-=-=-=-= */

.about {
  border-radius: 10px;
  background-color: #fff8f3;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.item-title {
  color: #757575;
  font-size: 16px;
  margin-bottom: 5px;
}
.item-dscription {
  color: #474747;
  font-weight: bold;
  font-size: 18px;
}

/* =-=--=-Skills Section=-=-=-=-=- */
.skill{
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-container{ 
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.skill-title{
    color: #181818;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}
.skill-description{
    color: #757575;
    margin-top: 20px;
    font-size: 16px;

}

/* =-=-=-=Resumi section=-=-=-=-=- */



/* =-=-=-=Resumi section=-=-=-=-=- */



.resumi-container{
  display: flex;
  gap: 24px;
}
.resumi-column-title{
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 25px;
}
.experience-title{
  font-size: 25px;
  font-weight: bold;
  color: #000;;
}
.experience-sub-title{
  font-size: 18px;
  color: #757575;
  font-weight: 600;
  margin-top: 5px;

}
.experience-descrription{
  margin-bottom: 30px;
  font-size: 16px;
}
hr{
  margin: 30px 0px;
}
.reaumi-cv{
  margin-top: 30px;
}

/* footer */

footer{
  margin-top: 130px;
  padding: 130px 230px;
  background-color: #FFF8F3;
  display: flex;
  gap: 100px;
}
.footer-column{
  width: 50%;
}
footer input[type="text"], input[type="email"], textarea {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  color: #474747;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
  font-size: 16px;
}


/* Responsive Medea Query */
.hide {
  display: none;
}
@media screen and (max-width: 576px) {
 .skill-container, .resumi-container, footer, .about-items{
  flex-direction: column;
 }}
 footer, .about{
  padding: 20px;
 }
 .footer-column{
  width: 100px;
 }
 footer input[type="text"], input[type="email"], textarea {
width: calc(100% - 40px);
  
}